	ul.tab {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
	}

	/* Style the links inside the list items */
	ul.tab li a {
		display: inline-block;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		transition: 0.3s;
		font-size: 20px;
	}

	/* Change background color of links on hover */
	ul.tab li a:hover {
		background-color: #33a2b7;
	}

	/* Create an active/current tablink class */
	ul.tab li a:focus, .active {
		background-color: #166bf8;
	}

	/* Style the tab content */
	.tabcontent {
		display: none;
		padding: 0px 12px;
		border: 1px solid #ccc;
		border-top: none;
		/*min-height: 400px;*/
		margin: auto;
	}
	